body {
    font-family: 'Times New Roman';
    min-height: 100vh;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.game-container {
    background-color: bisque;
    display: flex;
    justify-content: center;
}